$base-color: #80ABFF;

.button {
  width: 175px;
  height: 65px;
  border-radius: 5px;
  border: 2px solid #000;
  background: $base-color;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  


}





	